/* Menu movil */
.navbar__mobile-btn {
    display: none;

}

.navbar__mobile-list {
    display: none;
}

@media (max-width: 1024px) {

    /* Layout */
    .layout {
        width: 70%;
        min-width: 74rem;
        margin: 0 auto;
        grid-template-areas:
            "header header"
            "nav nav"
            "marquee marquee"
            "slider slider"
            "high high"
            "videos videos"
            "carrousel carrousel"
            "main main"
            "aside aside"
        ;
    }

    /* Cabecera */
    .layout__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    /* Menu */

    .navbar__list {
        display: none;
    }

    .navbar__mobile-btn {
        display: flex;
    }

    /* Menu mobile */
    .navbar__mobile-list {
        display: none;
        visibility: hidden;
        position: absolute;
        padding: 1.5rem;
        display: block;
        top: 98%;
        width: 100%;
        background-color: var(--color-bg-navbar);
        z-index: 99;
    }

    .mobile-list__item {
        width: 100%;
        padding: 0.5rem 2rem;
        border-bottom: 1px solid var(--color-border-list);
    }

    .mobile-list__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-list__link {
        display: block;
        width: 85%;
        font-weight: 400;
        line-height: 3rem;
        font-size: 1.3rem;
        text-transform: uppercase;
        color: var(--color-principal);
    }

    .mobile-list__icon {
        cursor: pointer;
    }

    .mobile-list__icon .fa-solid {
        color: var(--color-secondary);
        font-size: 1.6rem;
        font-weight: bold;
    }

    /* Submenu mobile */

    .mobile-list__msubmenu {
        display: block;
    }

    .msubmenu__item {
        padding-left: 4rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 3rem;
        text-transform: uppercase;
    }

    .msubmenu__link {
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 3rem;
        text-transform: uppercase;
    }

    /* Slider */
    .layout__slider {
        grid-template-areas:
            "slider1 slider3 slider3 slider3"
            "slider2 slider3 slider3 slider3"
            "slider4 slider4 slider5 slider5";
    }

    .slider__container--slider2 {
        width: 100%;
        height: 16.8rem;
    }

    .slider__container--slider3 {
        width: 100%;
        height: 33.8rem;
    }

    .slider__container--slider5 {
        width: 100%;
        height: 23.6rem;
    }

    /* Mejores momentos */
    .highlights__posts {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .highlights__post {
        /* width: 100%; */
        flex-basis: 100%;
    }

    .highlights__img {
        width: 100%;
    }

    /* videos */
    .videos__container {
        flex-direction: column;
        gap: 0;
    }

    .videos__list {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .videos__video {
        width: calc(50% - 1rem);
    }

    .layout__carrousel-games {
        margin-top: 3rem;
    }

    .carrousel-games__item {
        flex-basis: 50%;
    }

    .carrousel-games__list {
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .carrousel-games__item {
        flex-basis: 49%;
    }

    .layout__aside {
        margin-top: 3rem;
    }

    /* Pie de página */
    .footer__container {
        width: 70%;
        min-width: 70rem;
        flex-direction: column;
    }

    .footer__left-container,
    .footer__center-container,
    .footer__right-container {
        width: 100%;
    }

    .footer__fslider {
        width: auto;
        height: auto;
    }

    .footer__text {
        text-align: center;
        margin: 0 auto;
    }

}

@media (max-width: 775px) {
    .layout {
        width: 57%;
        min-width: 57rem;
        margin: 0 auto;
    }

    .footer__container {
        width: 52%;
        min-width: 52rem;
        flex-direction: column;
    }

    /* Slider */

    .slider__container--slider2 {
        width: 100%;
        height: 11.8rem;
    }

    .slider__container--slider3 {
        width: 100%;
        height: 24.8rem;
    }

    .slider__container--slider5 {
        width: 100%;
        height: 19.2rem;
    }
}