/* Menu movil */
.navbar__mobile-btn {
    display: none;

}

.navbar__mobile-list {
    display: none;
}

@media (max-width: 1024px) {

    .navbar__list {
        display: none;
    }

    .navbar__mobile-btn {
        display: flex;
    }

    /* Menu mobile */
    .navbar__mobile-list {
        padding: 1.5rem;
        display: block;
        position: absolute;
        top: 98%;
        width: 100%;
        background-color: var(--color-bg-navbar);
        z-index: 99;
    }

    .mobile-list__item {
        width: 100%;
        padding: 0.5rem 2rem;
        border-bottom: 1px solid var(--color-border-list);
    }

    .mobile-list__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-list__link {
        display: block;
        width: 85%;
        font-weight: 400;
        line-height: 3rem;
        font-size: 1.3rem;
        text-transform: uppercase;
        color: var(--color-principal);
    }

    .mobile-list__icon {
        cursor: pointer;
    }

    .mobile-list__icon .fa-solid {
        color: var(--color-secondary);
        font-size: 1.6rem;
        font-weight: bold;
    }

    /* Submenu mobile */
}