/* Variables */
:root {
    --color-principal: #fffff;
    --color-secondary: #388E3C;
}

/* Estilos generales */
html {
    font-size: 10px;
}

/* Estilos generales */
body {
    width: 100%;
    height: 100%;
    font-family: "Montserrat", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background-color: var(--color-principal);
}

/* Barra decorativa */
.decoration-bar {
    width: 100%;
    min-height: 2.5rem;
    background-color: var(--color-secondary);
}

/* Estructura y layout */